i.fas.fa-glass-whiskey {
  color: rgb(17, 110, 163);
  font-size: 2.5rem;
}
h2 {
  color: rgb(17, 110, 163);
}

.featured-food {
  color: rgb(17, 110, 163);
}
.featured-drink {
  color: rgb(17, 110, 163);
}
.card {
  border: 2px double rgb(49, 49, 49);
}

#food-search-button {
  background-color: rgb(17, 110, 163);
}
#food-search-button:hover {
  box-shadow: 0px 3px 2px #dc7a4a;
}
#drinks-search-button {
  background-color: rgb(17, 110, 163);
}
#drinks-search-button:hover {
  box-shadow: 0px 3px 2px #dc7a4a;
}

h1#featured-recipes {
  color: rgb(17, 110, 163);
}

#search-drinks:hover {
  box-shadow: 0px 3px 2px #dc7a4a;
}
#random-drinks:hover {
  box-shadow: 0px 3px 2px #dc7a4a;
}
#alcohol {
  text-shadow: 0px 2px 5px black;
}
#cocktail-name {
  text-shadow: 0px 2px 5px black;
}

#drink-hero-banner {
  text-shadow: 0px 2px 5px black;
}
#drink-hero-subtitle {
  text-shadow: 0px 2px 5px black;
}

#drink-form {
  padding: 2px;
}
#drink-search-form {
  text-align:center;
}
#drink-ingredient,
#cocktail-search {
  display: block;
  text-align:center;
  margin-bottom: 5px;
  width: 50%;
  padding: 0;
  margin: auto;
}

#search-drinks {
  display: inline;
  width: 50%;
}

#random-drinks {
  margin: auto;
  padding: 0;
  width: 50%;
}

/* favorite drinks section style */
#favorites-section {
  display: block;
  text-align: center;
}

#clear-favorites {
  margin: auto;
  box-shadow: 0px 2px 5px black;
}

#clear-favorites:hover {
  box-shadow: 0px 2px 5px rgb(17, 110, 163);
}

#cards-container {
  justify-content: center;
  margin-top: 10px;
}

@media only screen and (max-width: 576px) {
  #food-return {
    width: 100%;
  }
  #food-ingredient-search-input {
    display: block;
    width: 100%;
    padding: 0;
    margin: auto;
    margin-bottom: -20px;
  }
}


@media only screen and (max-width: 576px) {
  #food-return {
    width: 100%;
  }
  #drink-ingredient,
  #cocktail-search {
    display: block;
    width: 100%;
    padding: 0;
    margin: auto;
    
  }
  #search-drinks {
    display: inline;
    width: 100%;
  }
  #random-drinks {
    margin: auto;
    padding: 0;
    width: 100%;
    font-size: auto;
  }
  #search-drinks:hover {
    box-shadow: 0px 3px 2px #dc7a4a;
  }
  #random-drinks:hover {
    box-shadow: 0px 3px 2px #dc7a4a;
  }
}