i.fas.fa-glass-whiskey {
    color: rgb(17, 110, 163);
    font-size: 2.5rem;
  }
  h2 {
    color:rgb(17, 110, 163);
  }
  
  .featured-food {
    color: rgb(17, 110, 163);
    
  }
  .featured-drink {
    color: rgb(17, 110, 163);
  }
  .card {
    border: 2px double rgb(49, 49, 49);
  }

  #food-ingredient-search-input {
    display: block;
    width: 50%;
    padding: 0;
    margin: auto;
    margin-bottom: -20px;
  }
  
  #food-search-button {
    background-color: rgb(17, 110, 163);
  }
  #food-search-button:hover {
    box-shadow: 0px 3px 2px #DC7A4A;
  }
  #drinks-search-button {
    background-color: rgb(17, 110, 163);
  }
  #drinks-search-button:hover {
    box-shadow: 0px 3px 2px #DC7A4A;
  }
  
#food-return:hover {
    box-shadow: 0px 4px 2px #DC7A4A;
}
#ingredient {
    text-shadow: 0px 2px 5px black;
}
#diet-input {
    text-shadow: 0px 2px 5px black;
}
#cook-time {
    text-shadow: 0px 2px 5px black;
}
#food-hero-banner {
    text-shadow: 0px 2px 5px black;
}
#food-hero-subtitle {
    text-shadow: 0px 2px 5px black;
}
#food-return {
  width: 50%;
  padding: 0;
  margin: auto
}

#food-ingredient-search-input {
  text-align: center;
}

