/* Styles for landing page */
i.fas.fa-glass-whiskey {
  color: rgb(17, 110, 163);
  font-size: 2.5rem;
}

h2 {
  color:rgb(17, 110, 163);
}

/* .featured-food {
  color: rgb(17, 110, 163);
  
}
.featured-drink {
  color: rgb(17, 110, 163);
} */
.card {
  border: 1px double rgb(49, 49, 49);
  box-shadow: 3px 3px 10px rgb(0, 0, 0);
}

#food-search-button {
  background-color: rgb(17, 110, 163);
}
#food-search-button:hover {
  box-shadow: 0px 3px 2px #DC7A4A;
}
#drinks-search-button {
  background-color: rgb(17, 110, 163);
}
#drinks-search-button:hover {
  box-shadow: 0px 3px 2px #DC7A4A;
}

h1#featured-recipes {
  color: rgb(17, 110, 163);
  }
#hero-banner-text {
  text-shadow: 0px 2px 5px black;
}
#hero-subtitle {
  text-shadow: 0px 2px 5px black;
}

