/* Styles for landing page */
i.fas.fa-glass-whiskey {
  color: rgb(17, 110, 163);
  font-size: 2.5rem;
}
h2 {
  color:rgb(17, 110, 163);
}

.featured-food {
  color: rgb(17, 110, 163);
  
}
.featured-drink {
  color: rgb(17, 110, 163);
}
.card {
  border: 2px double rgb(49, 49, 49);
}

#food-search-button {
  background-color: rgb(17, 110, 163);
  box-shadow: 2px 3px 4px black;
}
#drinks-search-button {
  background-color: rgb(17, 110, 163);
  box-shadow: 2px 3px 4px black;
}

h1#featured-recipes {
  color: rgb(17, 110, 163);
  }
